.form {
  &__label {
    position: relative;
    font-family: $main-font-page;
    font-size: $main-font-size;
    line-height: $main-font-line-height;
  }
  &__error {
    position: absolute;
    font-size: .8em;
    bottom: -2em;
    left: 0;
    opacity: 0;
    color: #f00;
    transition: all 2s;
    &_active {
      opacity: 1;
    }
  }
}