.header {
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid $border-color;
  &__content {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding: 22px $main-shift;
    min-height: 50px;
  }
  &__center {
    display: flex;
    justify-content: center;
  }
}