@import "normalize-scss/sass/normalize/import-now";
@import "header";
@import "button";
@import "logo";
@import "preview";
@import "content";
@import "form";
@import "main-nav";
@import "footer";

.body {
  font-family: $main-font-page;
  font-size: $main-font-size;
  line-height: $main-font-line-height;
  color: $main-font-color-page;
  font-weight: $main-font-weight;
  font-style: $main-font-style;
  background-color: $main-background-color-page;
}

#app {
  max-width: 1366px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: $app-grid-row 1fr $app-grid-row;
  min-height: 100vh;
}