$main-font-page: 'Montserrat', sans-serif;
$main-font-size: 13px;
$main-font-line-height: .82;
$main-font-weight: 400;
$main-font-style: normal;
$main-font-color-page: #111;
$main-background-color-page: #f2f2f2;
$main-shift: 3.92rem;
$app-grid-row: 9.89%;
$border-color: lighten(#808080, 40%);
