$main-font-page: 'Montserrat', sans-serif;
$main-font-size: 13px;
$main-font-line-height: .82;
$main-font-weight: 400;
$main-font-style: normal;
$main-font-color-page: #111;
$main-background-color-page: #fff;
$input-color-border-default: #f1f1f1;
$input-color-background-default: #fff;
$input-color-background-focus: #fff;
$input-color-background-error: lighten(#f00, 30%);
$input-color-background-success: #cbecd9;
$button-color: #01a7fd;
$input-color-background-autofill: #fff5c0;
$label-color-text: #808080;
$main-shift: 3.92rem;
$app-grid-row: 76px;
$border-color: lighten($label-color-text, 40%);
